<mat-card class="home mat-elevation-z2">
    <mat-card-title class="title">
        Hello!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        This is a CRUD built in Angular, a project designed by Leonardo Leitão - COD3R.
    </mat-card-subtitle>
    <mat-card-content>
        <ul>
            <li>
                <p><b>CREATE</b></p>
                <p>We can register a product, entering name, price and quantity. The ID is generated automatically.</p>
            </li>
            <li>
                <p><b>READ</b></p>
                <p>The registered products are displayed in a table, containing 2 action buttons.</p>
            </li>
            <li>
                <p><b>UPDATE</b></p>
                <p>It is also possible to update the data reported for each product.</p>
            </li>
            <li>
                <p><b>DELETE</b></p>
                <p>You can simply delete the product.</p>
            </li>    
            <li>
                <p><b>GITHUB REPOSITORY</b></p>
                <p><a href="https://github.com/fl-pereira/angular-one">https://github.com/fl-pereira/angular-one</a></p>
            </li>
            <li>
                <p><b>LINKEDIN PROFILE</b></p>
                <p><a href="https://www.linkedin.com/in/felipeluizpereira/">https://www.linkedin.com/in/felipeluizpereira/</a></p>
            </li>
        </ul>
    </mat-card-content>
</mat-card>