.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #F1EFDC !important;
}

.footer span{
    font-weight: 200;
    font-size: 1rem;
}

.footer a {
    text-decoration: none;
}